
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0;">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <link href="../../resources/images/Favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="../../resources/css/style.css" >
    <link rel="stylesheet" href="../../resources/css/modalpopup.css" >
    <link rel="stylesheet" href="../../resources/css/style-override.css" >
    <script src="../../resources/js/ajax/jQuery/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../../resources/js/ajax/jquery.ui/1.8.19/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../resources/js/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script type="text/javascript">        window.scrollTo(0, 1)</script>
    <!--HtmlHead--><script type="text/javascript">                 var _gaq = _gaq || [];                _gaq.push(['_setAccount', 'UA-23116135-1']);                _gaq.push(['_setDomainName', 'none']);                _gaq.push(['_addIgnoredRef', 'https://buy.travelex.com.cn/m/encn/travelex.com.hk']);                _gaq.push(['_setAllowLinker', true]);                _gaq.push(['_trackPageview']);                (function() {                                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;                                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www/') + '.google-analytics.com/ga.js';                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);                })();</script>
    
    <title>Benefits of Reserving Online &amp; How it Works</title>
</head>
<body>
    <div id="container">
    <script type="text/javascript">
        $(function () {
            $(".clickme").each(function () {
                var imageInstruction = $(this).attr('instructions');
                if (imageInstruction == "") {
                    $(this).next('select').removeClass('dropdown-info-button');
                    $(this).next('select').addClass('dropdown-field');
                    $(this).remove();
                }
            })

            $(".clickme").click(function () {
                var imageInstruction = $(this).attr('instructions');
                $("<div>" + imageInstruction + "</div>").dialog({ autoOpen: true, draggable: false, modal: true, resizable: false, width: 'auto', height: 'auto' });
            });
        });
        </script>
        <header>
    

    <a href="Javascript:history.back()" class="btn back">Back <span></span></a>
<h1> 
 <a href="encn.htm" >Travelex - Worldwide money</a>
</h1>

<!--Checking if Next button to be displayed -->


;
</header>
<h2>Benefits of Reserving Online & How it Works</h2>
<div id="main" role="main">
    
    <div class="panel">
        <br /><strong> SAVE TIME & MONEY WHEN YOU RESERVE ONLINE!</strong> Our Online Exclusive Deals include:

<ul><li> - No commissions or fees when your reserve online!</li><li> - Best Travelex Exchange Rates Guaranteed when you reserve online! (Compared with other Travelex Exchange Rates in China)</li><li> - No Payment is taken online! Quick & Easy reservation!</li><li> - Your currency will be ready to pick up at your most convenient location and on the date you choose</li><li> - We are the world’s leading foreign currency exchange specialist.
<p> </p>
<h3><strong>Do not just rely on your credit card and reduce the potential hassle.</strong>   </h3>
<p>It's often a good idea to get some foreign currency before you leave home so that you have cash on hand to handle your immediate expenses -- like buying a meal at the airport or taking a cab to your hotel. This way you're not stranded without cash if the airport ATM isn't working or you arrive after the local exchange bureau has closed. </p>
<p>Many banks, credit unions and credit card companies freeze customers' cards if they are used outside of the customer's normal range of travel. </p>
<p>Some restaurants, stores and even hotels won't take credit cards, so <strong>you'll need to have currency cash on hand at all times</strong>. </p>
<p>Keep in mind that you may not have as much protection overseas as you do at home when problems arise over inaccurate charges. Incidents are always being reported of travellers being charged twice for the same item or for items they never purchased.</p>
<p> </p>
<h3><strong>Avoid Paying the Extra Costs</strong> - Reserve Your Foreign Currency Cash Online Before You Travel with Travelex </h3>
<p>While you can use credit cards to get cash advances at ATMs, bear in mind that they'll be subject to any finance charges your credit card company imposes -- which can add up very quickly.</p>
<p>Each cash withdrawal you make will usually be subject to currency conversion fees, foreign ATM fees or other charges from your bank and/or the local bank that maintains the ATM.  </p>
<p>Many credit cards charge a foreign transaction fee of 3% per purchase. If you pay for all of your hotel stays and most of your meals and other expenses on a credit card while you're abroad, those repeated 3% fees will add up by the time you get home.  </p>
<ul>
<li>Your debit card may not work in all ATM machines at your destination, so you'll need to bring some cash</li>
<li>If you travel abroad, your debit card probably won't be accepted at stores or restaurants; you'll need to carry some cash for daily expenses.</li>
<li>In rural areas, finding an ATM could be difficult.</li>
</ul>
<p> </p>
<p><strong>Do not travel abroad with only one form of travel money.</strong></p>
<p><strong>Travelling abroad with currency cash helps you reduce any potential inconvenience and can save you time and money!</strong>  </p>
<p><a href="../encn-1.htm"  title="Reserve your foreign currency online">Reserve your foreign currency online with Travelex</a> and pick it up at a local foreign exchange store or at Hong Kong International Airport.<span style="line-height: 0;"> </span></p>
    </div>
</div>
<footer>   
<br><a href="TermsOfUseContentPages-PageToView=TermsOfUse.htm#Online Ordering Terms and Conditions"  target="_blank">Travelex Online Terms and Conditions </a> | <a href="TermsOfUseContentPages-PageToView=TermsOfUse.htm#Frequently Asked Questions"  target="_blank">FAQ</a>｜<a href="TermsOfUseContentPages-PageToView=TermsOfUse.htm#Privacy Policy"  target="_blank">Privacy Policy</a><br>Copyright 2017 Travelex Currency Exchange (China) Company Limited.  All rights reserved.     <a href="http://www.miibeian.gov.cn"  title="沪ICP备12044029号" target="_blank">沪ICP备12044029号</a>    </footer>

    </div>
    
</body>
</html>
