
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0;">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="../../resources/images/Favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="../../resources/css/style.css" >
    <link rel="stylesheet" href="../../resources/css/modalpopup.css" >
    <link rel="stylesheet" href="../../resources/css/style-override.css" >
    <script src="../../resources/js/ajax/jQuery/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../../resources/js/ajax/jquery.ui/1.8.19/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../resources/js/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <!--HtmlHead--><script type="text/javascript">                 var _gaq = _gaq || [];                _gaq.push(['_setAccount', 'UA-23116135-1']);                _gaq.push(['_setDomainName', 'none']);                _gaq.push(['_addIgnoredRef', 'travelex.com.hk']);                _gaq.push(['_setAllowLinker', true]);                _gaq.push(['_trackPageview']);                (function() {                                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;                                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);                })();</script>
    <script type='text/javascript'>
        var _gaq = _gaq || []
        _gaq.push(['_addTrans',
            'CN70978515',              // order ID - required
            'Travelex China',              // affiliation or store name
            '5002.1800',              // total - required
            '0',              // tax
            '0',              // shipping
            '',              // city
            '',              // state or province
            'CN'               // country
        ]);
        _gaq.push(['_addItem',
            'CN70978515',              // order ID - required
            'USD',              // SKU/code - required
            'Cash',              // product name
            'Express Store Pick Up',              // category or variation
            '5002.1800',              // unit price - required
            '1'               // quantity - required
        ]);
        _gaq.push(['_trackTrans']); </script>

    <title>通济隆 - Order Successful</title>
</head>
<body>
<div id="container">
    <script type="text/javascript">
        $(function () {
            $(".clickme").each(function () {
                var imageInstruction = $(this).attr('instructions');
                if (imageInstruction == "") {
                    $(this).next('select').removeClass('dropdown-info-button');
                    $(this).next('select').addClass('dropdown-field');
                    $(this).remove();
                }
            })

            $(".clickme").click(function () {
                var imageInstruction = $(this).attr('instructions');
                $("<div>" + imageInstruction + "</div>").dialog({ autoOpen: true, draggable: false, modal: true, resizable: false, width: 'auto', height: 'auto' });
            });
        });
    </script>
    <header>
        <h1><a href="index.htm">Travelex - Worldwide money</a></h1>
        <a href="index.htm" class="btn next submit">Home <span></span></a>
    </header>
    <div id="main" class="review confirmation" role="main">
        <h2></h2>
        <div class="instructions">
            确认订单</div>
        <h3>
            <strong></strong></h3>
        <div class="panel">
        </div>
        <h3>
            <strong>您的预订信息
            </strong>
        </h3>
        <div class="panel">

            <table>
                <tbody>
                <tr>
                    <td class="col1">
                        730.00 USD (Rate 6.8523)
                    </td>
                    <td class="col2">
                        &#165;5,002.18
                    </td>
                </tr>
                <tr>
                    <td class="col1">
                        手续费
                    </td>
                    <td class="col2">
                        &#165;0.00
                    </td>
                </tr>

                <tfoot>
                <tr>
                    <th class="col1">确认
                    </th>
                    <th class="col2">&#165;5,002.18
                    </th>
                </tr>
                </tfoot>
                </tbody>
            </table>

            <br />




            <strong>* 我们承诺在线预订的汇率为通济隆最优汇率。若您到店提取时发现我们的网点汇率更好，您也可以选择使用届时的网点汇率作为您的实际成交汇率。</strong>
        </div>



        <h3>
            <strong>详情:</strong>
        </h3>

        <div class="panel">
            <table>
                <tbody>
                <tr>
                    <td class="col1">
                        <span>取汇日期:</span>
                    </td>
                    <td class="col2left">
                        2019-01-15
                    </td>
                </tr>

                <tr>
                    <td class="col1">
                        <span>取币网点:</span>
                    </td>
                    <td class="col2left">
                        天津滨海国际机场一号航站楼一层国际到达
                    </td>
                </tr>


                <tr>
                    <td>
                        <span><p style="font-size:small; font-style:normal">打印此页面以备参考<br>我们确认已收到您提交的订单。对于收到的订单，我们在经过检查和判断后，可能会由于合规或库存等原因而拒绝进行处理。该等情况下，我们会通过电话或电子邮件的方式通知您。<br>如果您的订单最终被我们接受，您将收到我们发出的“订单确认”电子邮件。您可以打印该邮件并携带打印件至您预订的外币提取网点。<br>根据您在网站上提供的姓名、电话和电子邮箱，我们可能会跟您联系，以便跟您讨论或确认订单内容等。</p><p style="font-size:small; font-style:normal">您需要出示:</p><p style="font-size:small; font-style:normal">在完成在线预订后，您须携带以下证件前往提取网点提取外币：</p><p style="font-size:small; font-style:normal">带照片的身份证明是指以下任何一种：<br> - 中国大陆人士请携带身份证、临时身份证、户口本、军官证或警官证； <br> - 中国香港、澳门或台湾人士请携带中国政府颁发的港澳居民来往内地通行证或台湾居民来往大陆通行证<br> - 其他国家/地区人士请携带您的有效护照。 </p></span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>





        <h3>
            <strong>Your order number</strong></h3>
        <div class="panel">
            <span class="orderNo">CN70978515</span>
            <p>一旦您的预订是随时可以拿起我们会向您发送电子邮件。</p>
        </div>
        <h3>
            <strong>帮助</strong></h3>
        <div class="panel">
            <p>
                <span>若对您的订单有任何疑问，请联系我们的客服热线400 821 6825。人工服务时间为周一至周日，10:30至21:30</span>
            </p>
            <p></p>
            <a href="tel:" class="callNo"></a>
            <p>电子邮件:</p>
            <a href="mailto:&#79;&#110;&#108;&#105;&#110;&#101;&#46;&#79;&#114;&#100;&#101;&#114;&#115;&#46;&#67;&#78;&#64;&#116;&#114;&#97;&#118;&#101;&#108;&#101;&#120;&#46;&#99;&#111;&#109;&#46;&#99;&#110;">&#79;&#110;&#108;&#105;&#110;&#101;&#46;&#79;&#114;&#100;&#101;&#114;&#115;&#46;&#67;&#78;&#64;&#116;&#114;&#97;&#118;&#101;&#108;&#101;&#120;&#46;&#99;&#111;&#109;&#46;&#99;&#110;</a>
        </div>
    </div>









    <footer>

        <ul class="clearfix crumbs">

            <li class="complete progress-3">
                <span>
                <i>   开始下单 </i>
                </span>
            </li>
            <li class="complete justbeforeactive progress-3">
                <span>
                <i>   您的资料 </i>
                </span>
            </li>
            <li class="active last progress-3">
                <span>
                <i>   确认 </i>
                </span>
            </li>

        </ul>



        <p><br>在线预订服务提供的汇率仅供参考，并非实际交易的汇率。所有汇率均会不时更新，恕不另行通知。在通济隆网点提供的汇率有可能与在线预订的汇率不同。<br><a href="http://buy.travelex.com.cn/m/zhcn/TermsOfUseContentPages?PageToView=TermsOfUse#Online Ordering Terms and Conditions" target="_blank">在线预订服务条款和条件</a> | <a href="http://buy.travelex.com.cn/m/zhcn/TermsOfUseContentPages?PageToView=TermsOfUse" target="_blank">常见问题</a>｜<a href="http://buy.travelex.com.cn/m/zhcn/TermsOfUseContentPages?PageToView=TermsOfUse#Privacy Policy" target="_blank">隐私政策</a><br>所有版权均属通济隆外币兑换（中国）有限公司     <a href="http://www.miibeian.gov.cn" title="沪ICP备12044029号" target="_blank">沪ICP备12044029号</a></p>
    </footer>

</div>

</body>
</html>
