<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0;">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="../../resources/images/Favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link rel="stylesheet" href="../../resources/css/modalpopup.css">
    <link rel="stylesheet" href="../../resources/css/style-override.css">
    <script src="../../resources/js/ajax/jQuery/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../../resources/js/ajax/jquery.ui/1.8.19/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../resources/js/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="../../resources/js/util.js" type="text/javascript"></script>
    <script type="text/javascript">        window.scrollTo(0, 1)</script>
    <!--HtmlHead-->
    <script type="text/javascript">                 var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23116135-1']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_addIgnoredRef', 'travelex.com.hk']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();</script>

    <title>Travelex - Select Fulfilment Date</title>
</head>
<body>
<div id="container">
    <script type="text/javascript">
        $(function () {
            $(".clickme").each(function () {
                var imageInstruction = $(this).attr('instructions');
                if (imageInstruction == "") {
                    $(this).next('select').removeClass('dropdown-info-button');
                    $(this).next('select').addClass('dropdown-field');
                    $(this).remove();
                }
            })

            $(".clickme").click(function () {
                var imageInstruction = $(this).attr('instructions');
                $("<div>" + imageInstruction + "</div>").dialog({
                    autoOpen: true,
                    draggable: false,
                    modal: true,
                    resizable: false,
                    width: 'auto',
                    height: 'auto'
                });
            });
            //保存当前选择日期
            $('#datepicker').click(function (e) {
                setItem('date',e.currentTarget.value)
            })
        });
    </script>

    <header>


        <a href="./StoreLocator/Grouped/Funnel.html" class="btn back">后退 <span></span></a>
        <h1>
            <a href="index.htm">Travelex - Worldwide money</a>
        </h1>

        <!--Checking if Next button to be displayed -->


        ;

        <!--<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet"-->
              <!--type="text/css"/>-->
        <link rel="stylesheet" href="../../resources/css/calendar.css">
        <script src="../../resources/js/Calendar.js" type="text/javascript"></script>
        <script type="text/javascript" src="../../resources/js/Moment.js"></script>
        <script type="text/javascript"> $(document).ready(function () {
            var preYear = moment().add(1, 'days').format('YYYY');
            var preMonth = moment().add(1, 'days').format('M') - 1;
            var preDay = moment().add(1, 'days').format('D');
            var midYear = moment().add(2, 'days').format('YYYY');
            var midMonth = moment().add(2, 'days').format('M') - 1;
            var midDay = moment().add(2, 'days').format('D');
            var nextYear = moment().add(3, 'days').format('YYYY');
            var nextMonth = moment().add(3, 'days').format('M') - 1;
            var nextDay = moment().add(3, 'days').format('D');

            var cal = new Travelex.PurchaseFunnel.Calendar('date', 'datepicker', new Date(preYear, preMonth, preDay, 0, 0, 0, 0), new Date(nextYear, nextMonth, nextDay, 0, 0, 0, 0), "", '[{"Id":"e42e47c7-1654-444d-a731-ea16685d97ba","Colour":"228B22","Year":'+preYear+',"Month":'+Number(preMonth)+1+',"Day":'+preDay+'},{"Id":"e42e47c7-1654-444d-a731-ea16685d97ba","Colour":"228B22","Year":'+midYear+',"Month":'+Number(midMonth)+1+',"Day":'+midDay+'},{"Id":"e42e47c7-1654-444d-a731-ea16685d97ba","Colour":"228B22","Year":'+nextYear+',"Month":'+Number(nextMonth)+1+',"Day":'+nextDay+'}]', {
                    clearText: 'Clear',
                    clearStatus: 'Erase the current date',
                    closeText: 'Done',
                    closeStatus: 'Close without change',
                    prevText: '显示前一个月',
                    prevBigText: '<<',
                    prevStatus: 'Show the previous month',
                    prevBigStatus: 'Show the previous year',
                    nextText: '显示下月',
                    nextBigText: '>>',
                    nextStatus: 'Show the next month',
                    nextBigStatus: 'Show the next year',
                    currentText: '今天',
                    currentStatus: 'Show the current month',
                    monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                    monthNamesShort: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                    monthStatus: 'Show a different month',
                    yearStatus: 'Show a different year',
                    weekHeader: 'Wk',
                    weekStatus: 'Week of the year',
                    dayNames: ['星期天', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
                    dayNamesShort: ['星期天', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
                    dayNamesMin: ['天', '一', '二', '三', '四', '五', '六'],
                    dayStatus: 'Set DD as first week day',
                    dateStatus: 'Select D, M d',
                    dateFormat: 'yy-mm-dd',
                    firstDay: '0',
                    initStatus: 'Select a date',
                    isRTL: false
                }
                , 'False');
            cal.AddCss('228B22');
        });  </script>


    </header>
    <form action=" " method="post">
        <div id="main" class="delivery-date" role="main">
            <!--数据本地存储-->
            <h2>取币日期</h2>
            <h3>
                <strong>您希望何时取您预订的外币?</strong></h3>
            <input type="hidden" id="date" name="date"/>
            <input type="hidden" id="fulfilmentOptionId" name="fulfilmentOptionId"/>
            <div id="datepicker">
            </div>
        </div>
        <div style="text-align: center">
        </div>
        <div style="text-align: left;" class="panel">
            <img src="../../resources/images/Calendar.png"/>
            <p>
                <strong>快速便捷的到店提取 </strong><br/>
                第二天可取（若在下午四点之前完成在线预订）；第二天到第四天可取（若在下午四点之后完成在线预订）
            </p>
        </div>
        <div style="background: none repeat scroll 0 0 #F1EFEF; border: 1px solid #D0D0D0; padding: 14px; width: 75%; margin-left:10px;"
             class="panel"><p><strong>Payment via Credit / Debit Card </strong></p>
            <ul>
                <li>Orders paid for by credit / debit cards incur a <strong>fee of 1.5% (inc. GST)</strong> on the total
                    cost.
                </li>
                <li><strong>Travelex will not charge a cash advance fee for orders paid for by credit /debit card, but
                    your card issuer may. The value and application of this fee is determined by your card
                    issuer.</strong></li>
                <li>If these orders are to be collected from an airport location, a minimum of 1 Business Day* is
                    required for the order to be processed.
                </li>
                <li>Orders collected from a non-airport location take a minimum of 3 Business Days* to be processed.
                </li>
            </ul>
            <p></p>
            <p><strong>Payment via BPAY? </strong></p>
            <ul>
                <li>Orders paid for via BPAY incur no additional fees.</li>
                <li>BPAY orders collected from an airport location take a minimum of 3 Business Days* to be processed.
                </li>
                <li>BPAY orders collected from a non-airport location take a minimum of 5 Business Days* to be
                    processed.
                </li>
            </ul>
            <p></p> *<strong>Business Day</strong> means Monday to Friday excluding National Public Holidays and Bank
            Holidays. For orders made after 3pm on a Business Day, an additional Business Day is required to ensure the
            order is ready for collection.
        </div>
    </form>
    <footer>
        <div class="footBackNext">

            <a href="./StoreLocator/Grouped/Funnel.html" class="btn backbottom">后退 <span></span></a>


            ;
        </div>

        <ul class="clearfix crumbs">

            <li class="active progress-3">
                <span>
                <i>                      <a href="./Basket.htm">开始下单</a>
                </i>
                </span>
            </li>
            <li class=" progress-3">
                <span>
                <i>  您的资料                </i>
                </span>
            </li>
            <li class=" last progress-3">
                <span>
                <i>  确认                </i>
                </span>
            </li>

        </ul>


        <p><br>在线预订服务提供的汇率仅供参考，并非实际交易的汇率。所有汇率均会不时更新，恕不另行通知。在通济隆网点提供的汇率有可能与在线预订的汇率不同。<br><a
                href="zhcn/TermsOfUseContentPages-PageToView=TermsOfUse.htm#Online Ordering Terms and Conditions"
                target="_blank">在线预订服务条款和条件</a> | <a
                href="http://buy.travelex.com.cn../../../zhcn.htm/TermsOfUseContentPages?PageToView=TermsOfUse"
                target="_blank">常见问题</a>｜<a
                href="http://buy.travelex.com.cn../../../zhcn.htm/TermsOfUseContentPages?PageToView=TermsOfUse#Privacy Policy"
                target="_blank">隐私政策</a><br>所有版权均属通济隆外币兑换（中国）有限公司     <a href="http://www.miibeian.gov.cn"
                                                                         title="沪ICP备12044029号" target="_blank">沪ICP备12044029号</a>
        </p>
    </footer>

</div>

</body>
</html>
