<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0;">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="../../resources/images/Favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link rel="stylesheet" href="../../resources/css/modalpopup.css">
    <link rel="stylesheet" href="../../resources/css/style-override.css">
    <script src="../../resources/js/ajax/jQuery/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../../resources/js/ajax/jquery.ui/1.8.19/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../resources/js/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script type="text/javascript">        window.scrollTo(0, 1)</script>
    <!--HtmlHead-->
    <script type="text/javascript">                 var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23116135-1']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_addIgnoredRef', 'https://buy.travelex.com.cn../../../zhcn.htm/travelex.com.hk']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www/') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();</script>
    <style>
        .rowa h3{
            font-size: 13px;
        }
    </style>
    <title>OnlineRates:RatesLinkText</title>
</head>
<body>
<div id="container">
    <script type="text/javascript">
        $(function () {
            $(".clickme").each(function () {
                var imageInstruction = $(this).attr('instructions');
                if (imageInstruction == "") {
                    $(this).next('select').removeClass('dropdown-info-button');
                    $(this).next('select').addClass('dropdown-field');
                    $(this).remove();
                }
            })

            $(".clickme").click(function () {
                var imageInstruction = $(this).attr('instructions');
                $("<div>" + imageInstruction + "</div>").dialog({
                    autoOpen: true,
                    draggable: false,
                    modal: true,
                    resizable: false,
                    width: 'auto',
                    height: 'auto'
                });
            });
        });
    </script>
    <header>


        <a href="Javascript:history.back()" class="btn back">后退 <span></span></a>
        <h1>
            <a href="index.htm">Travelex - Worldwide money</a>
        </h1>

        <!--Checking if Next button to be displayed -->


        ;
    </header>
    <div id="main" class="pick-up" role="main">
        <h2>
            今日在线汇率</h2>
        <p class="instructions">
            选择通济隆网上预订服务，您将获得极具竞争力的汇率价格，享受就近网点提取订单的便利，以及我们为您提供的优质服务。如果您在下表中找不到您需要的外币，请<a
                href="StoreLocator/Grouped/Standalone-1.htm" target="_blank">联系您附近的通济隆网点</a> 。</p>
        <div class="tabs-holder">
            <div id="tabs" class="tabs-holder">
                <ul class="tabs clearfix t3">
                    <li class="ratesjp-first-child"><a href="#tabs-1">现金</a></li>
                </ul>
                <div id="tabs-1" class="currency-values">
                    <div id="divRatesMsgolc2" class="rates-msg">
                        您现在看到的是网上预订外币的汇率
                    </div>
                    <table cellspacing="0" cellpadding="0" id="cashRatesTable" class="table">
                        <tbody>
                        <tr class="rowa">
                            <td class="col1">
                                <h3>
                                    币种</h3>
                            </td>
                            <td class="col2">
                                <h3>
                                    外币名称</h3>
                            </td>
                            <td class="col3">
                                <h3>
                                    卖出价</h3>
                            </td>
                            <td class="col3">
                                <h3>
                                    单位</h3>
                            </td>
                            <td class="col4">
                                <h3>
                                    预订</h3>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                USD
                            </td>
                            <td class="col2 cell5">
                                美元 USD
                            </td>
                            <td class="col3 cell5">
                                6.8523
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                HKD
                            </td>
                            <td class="col2 cell5">
                                港币 HKD
                            </td>
                            <td class="col3 cell5">
                                0.8835
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                JPY
                            </td>
                            <td class="col2 cell5">
                                日元 JPY
                            </td>
                            <td class="col3 cell5">
                                6.3602
                            </td>
                            <td class="col3 cell5">
                                100
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                AED
                            </td>
                            <td class="col2 cell5">
                                阿联酋迪拉姆 AED
                            </td>
                            <td class="col3 cell5">
                                1.9854
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                AUD
                            </td>
                            <td class="col2 cell5">
                                澳大利亚元 AUD
                            </td>
                            <td class="col3 cell5">
                                5.1339
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                BRL
                            </td>
                            <td class="col2 cell5">
                                巴西雷亚尔 BRL
                            </td>
                            <td class="col3 cell5">
                                2.0501
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                CAD
                            </td>
                            <td class="col2 cell5">
                                加拿大元 CAD
                            </td>
                            <td class="col3 cell5">
                                5.2693
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                CHF
                            </td>
                            <td class="col2 cell5">
                                瑞士法郎 CHF
                            </td>
                            <td class="col3 cell5">
                                7.0762
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                DKK
                            </td>
                            <td class="col2 cell5">
                                丹麦克朗 DKK
                            </td>
                            <td class="col3 cell5">
                                1.0850
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                EUR
                            </td>
                            <td class="col2 cell5">
                                欧元 EUR
                            </td>
                            <td class="col3 cell5">
                                8.0944
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                GBP
                            </td>
                            <td class="col2 cell5">
                                英镑 GBP
                            </td>
                            <td class="col3 cell5">
                                8.9685
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                IDR
                            </td>
                            <td class="col2 cell5">
                                印度尼西亚卢比 IDR
                            </td>
                            <td class="col3 cell5">
                                0.0521
                            </td>
                            <td class="col3 cell5">
                                100
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                INR
                            </td>
                            <td class="col2 cell5">
                                印度卢比 INR
                            </td>
                            <td class="col3 cell5">
                                0.1016
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                KRW
                            </td>
                            <td class="col2 cell5">
                                韩元 KRW
                            </td>
                            <td class="col3 cell5">
                                0.6573
                            </td>
                            <td class="col3 cell5">
                                100
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                MOP
                            </td>
                            <td class="col2 cell5">
                                澳门元 MOP
                            </td>
                            <td class="col3 cell5">
                                0.8838
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                MYR
                            </td>
                            <td class="col2 cell5">
                                马来西亚林吉特 MYR
                            </td>
                            <td class="col3 cell5">
                                1.7557
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                NOK
                            </td>
                            <td class="col2 cell5">
                                挪威克朗 NOK
                            </td>
                            <td class="col3 cell5">
                                0.8265
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                NZD
                            </td>
                            <td class="col2 cell5">
                                新西兰元 NZD
                            </td>
                            <td class="col3 cell5">
                                4.7603
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                PHP
                            </td>
                            <td class="col2 cell5">
                                菲律宾比索 PHP
                            </td>
                            <td class="col3 cell5">
                                0.1360
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                RUB
                            </td>
                            <td class="col2 cell5">
                                俄罗斯卢布 RUB
                            </td>
                            <td class="col3 cell5">
                                0.1044
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                SEK
                            </td>
                            <td class="col2 cell5">
                                瑞典克朗 SEK
                            </td>
                            <td class="col3 cell5">
                                0.7831
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                SGD
                            </td>
                            <td class="col2 cell5">
                                新加坡元 SGD
                            </td>
                            <td class="col3 cell5">
                                5.1980
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                THB
                            </td>
                            <td class="col2 cell5">
                                泰国铢 THB
                            </td>
                            <td class="col3 cell5">
                                0.2293
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                TWD
                            </td>
                            <td class="col2 cell5">
                                台湾元 TWD
                            </td>
                            <td class="col3 cell5">
                                0.2345
                            </td>
                            <td class="col3 cell5">
                                1
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="col1 cell5">
                                VND
                            </td>
                            <td class="col2 cell5">
                                越南盾 VND
                            </td>
                            <td class="col3 cell5">
                                0.0326
                            </td>
                            <td class="col3 cell5">
                                100
                            </td>
                            <td class="col3 cell5" align="center">
                                <a class="btn cta-2" href="Basket-isReferralRedirect=True.htm">
                                    预订</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footBackNext">

            <a href="Javascript:history.back()" class="btn backbottom">后退 <span></span></a>


        </div>
        <br/>
        <div class="marginT20 fontS9">
            <p>星期六, 12 一月 2019 08:52:51 更新的标示性汇率;</p>
        </div>
        <div class="marginT20 fontS9">
            <p>在线预订服务提供的汇率仅供参考，并非实际交易的汇率。所有汇率均会定期更新，恕不另行通知。在通济隆网点提供的汇率有可能与在线预订服务的汇率不同。点击此处了解更多关于<a
                    href="http://www.travelex.com.cn/CN/Terms-of-Use/Frequently-Asked-Questions-EN" target="_parent">不同类型汇率</a>的信息。
            </p>
        </div>
        <div class="footBackNext">
            <br><a href="TermsOfUseContentPages-PageToView=TermsOfUse.htm#Online Ordering Terms and Conditions"
                   target="_blank">在线预订服务条款和条件</a> | <a href="TermsOfUseContentPages-PageToView=TermsOfUse.htm"
                                                        target="_blank">常见问题</a>｜<a
                href="TermsOfUseContentPages-PageToView=TermsOfUse.htm#Privacy Policy" target="_blank">隐私政策</a><br>所有版权均属通济隆外币兑换（中国）有限公司
                <a href="http://www.miibeian.gov.cn" title="沪ICP备12044029号" target="_blank">沪ICP备12044029号</a></div>
    </footer>
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
        });

    </script>

</div>

</body>
</html>
