
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0;">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="../../resources/images/Favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="../../resources/css/style.css" >
    <link rel="stylesheet" href="../../resources/css/modalpopup.css" >
    <link rel="stylesheet" href="../../resources/css/style-override.css" >
    <script src="../../resources/js/ajax/jQuery/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../../resources/js/ajax/jquery.ui/1.8.19/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../resources/js/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script type="text/javascript">        window.scrollTo(0, 1)</script>
    <!--HtmlHead--><script type="text/javascript">                 var _gaq = _gaq || [];                _gaq.push(['_setAccount', 'UA-23116135-1']);                _gaq.push(['_setDomainName', 'none']);                _gaq.push(['_addIgnoredRef', 'travelex.com.hk']);                _gaq.push(['_setAllowLinker', true]);                _gaq.push(['_trackPageview']);                (function() {                                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;                                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);                })();</script>

    <title>Travelex - 常见问题及条款和条件</title>
</head>
<body>
<div id="container">
    <script type="text/javascript">
        $(function () {
            $(".clickme").each(function () {
                var imageInstruction = $(this).attr('instructions');
                if (imageInstruction == "") {
                    $(this).next('select').removeClass('dropdown-info-button');
                    $(this).next('select').addClass('dropdown-field');
                    $(this).remove();
                }
            })

            $(".clickme").click(function () {
                var imageInstruction = $(this).attr('instructions');
                $("<div>" + imageInstruction + "</div>").dialog({ autoOpen: true, draggable: false, modal: true, resizable: false, width: 'auto', height: 'auto' });
            });
        });
    </script>
    <header>


        <a href="Javascript:history.back()" class="btn back">后退 <span></span></a>
        <h1>
            <a href="/view/zhcn">Travelex - Worldwide money</a>
        </h1>

        <!--Checking if Next button to be displayed -->


        ;
    </header>
    <h2>常见问题及条款和条件</h2>
    <div id="main" role="main">

        <div class="panel">
            <a name="backtotop"><a>

                <ul>
                    <li><a href="#Frequently Asked Questions"><h1>常见问题</h1></a></li>
                    <li><a href="#Online Ordering Terms and Conditions"><h1>在线预订服务条款和条件</h1></a></li>


                    <li><a href="#Security Statement"><h1>保安</a></h1>
                    <li><a href="#Terms and Conditions for Website Use"><h1>网站使用的条款和条件</h1></a></li>
                    <li><a href="#Privacy Policy"><h1>隐私政策</h1></a></li>

                </ul>
                <br>
                <p></p>

                <a name="Frequently Asked Questions"><h2>常见问题</a></h2>


                <h3>在线优惠</h3>
                <p>请参阅我们的《<a href="#Online Ordering Terms and Conditions">在线预订服务条款和条件</a>》了解详情。《<a href="#Frequently Asked Questions">常见问题</a>》与《<a href="#Online Ordering Terms and Conditions">在线预订服务条款和条件</a>》间若有相悖不符之处，该处应以《在线预订服务条款和条件》为准。</p>
                <h3>我能否在线购买外币？</h3>
                <p>不能。目前您只能在线预订外汇现钞（以下简称<strong>旅行外汇</strong>）。到零售网点取汇时支付即可。 </p>
                <h3>我可以提前多久下订单？</h3>
                <p>您应在您预约收取旅行外汇日期（以下简称预约取款日）的前2-5天提交订单。</p>
                <p>为了能让我们有足够时间准备您的外币，请您务必在当地时间中午12点前在网站上成功提交订单。我们会努力在您的预约取款日交付所订的旅行外汇，但如无法按时交付，我们将不承担任何责任。</p>
                <h3>每笔订单我可以预订多少外币？</h3>
                <p>每笔在线旅行外汇订单均受到以下最小和最大订单金额限制：</p>
                <ul>
                    <li>每笔订单最低价值为1,500 元人民币（或等值的其他货币）；</li>
                    <li>对于境内个人（持有中华人民共和国居民身份证、军人证或武警证的中国公民），每笔订单最高价值为20,000元人民币（或等值外币）；对于境外个人（持护照、港澳居民来往内地通行证、台湾居民来往大陆通行证的外国公民、无国籍人以及港澳台同胞），每笔订单最高价值为6,000元人民币（或等值外币）。</li>
                </ul>
                <p> </p>
                <p>通济隆可自行决定随时更改以上订单金额限制。 </p>
                <h3>我的外汇年度上限是什么？</h3>
                <p>对于境内个人（持有中华人民共和国居民身份证、军人证或武警证的中国公民），从外币兑换成人民币的年度上限为 50,000美元（或等值的其他货币）；从人民币兑换成外币的年度上限为 50,000美元（或等值的其他货币）。</p>
                <p>对于境外个人（持护照、港澳居民来往内地通行证、台湾居民来往大陆通行证的外国公民、无国籍人以及港澳台同胞），从外币兑换成人民币的年度上限为 50,000 美元（或等值的其他货币）。从人民币兑换成外币则无特别限制，没有年度上限。</p>
                <p>上述规则仅供参考。所有配额和限制均根据中国国家外汇管理局及其各区域办事处的更新而改变。</p>
                <h3>我是否能要求特定的货币面额？</h3>
                <p>不能。 目前通过我们的在线预订服务尚无法选择特定的货币面额，因为各零售网点内持有的面额种类不定。</p>
                <h3>我能否修改预约取款日期？</h3>
                <p>不能。您不能更改您的预约取款日期。请致电您确认电邮上所列的零售网点电话号码以取消您的订单。</p>
                <h3>我是否可以取消我的订单？</h3>
                <p>您可以在预约取款日前的任何时候致电您确认电邮上所列的零售网点电话号码取消您的订单。</p>
                <h3>我可以在哪个零售网点提取外汇？</h3>
                <p>您可以在我们的在线预订页面上查找可以取汇的零售网点。</p>
                <h3>支付时是按照你们网站提供的汇率进行计算吗？</h3>
                <p>是的。当您点击“预订”按钮时，网站上所报的汇率就会被锁定，该汇率自订单日期起有效期可达5天。</p>
                <p> </p>
                <h3>您的在线购买汇率是如何决定的?</h3>
                <p>很简单。只要选择您所需要的货币， 告诉我们您希望去哪个零售网点取汇。在我们发送给您的确认电子邮件中， 我们会列出您锁定的汇率。在法律、法规等规范性文件允许的范围内，您可在比较以下两种汇率后选取一种对您有利的汇率作为您购买旅行外汇的实际成交汇率： </p>
                <p>	a. 我们向您发送的确认邮件中列出的汇率；或 </p>
                <p>	b. 在您取汇时，取汇分店汇率版上显示的汇率或我们的员工通知您的其他汇率。 </p>
                <p>您可选择以上两种汇率中对您有利的一种。</p>
                <h3>如果我需要更多的外币怎么办？</h3>
                <p>您可以在取款时要求增加您所需的兑换金额，具体操作可以与我们的销售顾问进行咨询。</p>
                <h3>关于通济隆</h3>
                <h3>在哪里可以了解更多关于通济隆的信息？</h3>
                <p>我们的网站是资料的最佳来源之处。欲访问本公司的企业网站，请点<a href="http://www.travelex-corporate.com/" title="点击此处" target="_blank">击此处</a>。</p>
                <h3>我想加入通济隆工作，如何了解空缺职位信息？</h3>
                <p>请点击浏览我们的<a href="http://www.travelex.com.cn/CN/About-Travelex/Careers/Travelex-Career-Opportunities/" title="人才招聘部" target="_blank">人才招聘部</a>。</p>
                <p> </p>



                <p> <a href="#backtotop">返回顶部</a></p>

                <a name="Online Ordering Terms and Conditions">
                    <h2>在线预订服务条款和细则</a></h2>


                <p style="text-align: left;"><strong>1.</strong><strong>关于我们</strong></p>
                <p>本互联网外币预订服务（以下简称"本服务"或"服务"）由<strong>通济隆外币兑换（中国）有限公司</strong>提供。<strong>通济隆外币兑换（中国）有限公司</strong>（以下简称"Travelex"或"我们"）的地址为上海市浦东新区世纪大道1168 号东方金融广场B座1702 室。此外，您也可以通过发送电子邮件至<strong><em>customerfeedback@travelex.com.cn</em></strong> 或致电 我们的客服热线<strong>400 821 6825</strong>的方式来与我们联系。客服热线的人工服务时间为周一至周日，10:30至21:30。</p>
                <p style="text-align: left;"><strong>2.</strong><strong>条款和细则的适用</strong><strong> </strong></p>
                <p>这些条款和细则（以下简称"<strong>条款细则</strong>"）适用于外币现钞（以下简称为"<strong>外币</strong>"）的在线预订服务（以下简称"<strong>本服务</strong>"）。如果您在我们的网站<a href="http://www.travelex.com.cn/" title="www.travelex.com.cn">www.travelex.com.cn</a>（以下简称"<strong>网站</strong>"）上提交了外币订单，即确认您已阅读、了解并同意遵守这些条款细则。</p>
                <p style="text-align: left;"><strong>3.</strong><strong>服务的使用</strong><strong> </strong></p>
                <p>(1) 本服务仅面向通过网站使用本服务的个人。本服务仅可用于以个人或商务差旅为目的的外币预订，不得用于投机、投资或其他任何用途。</p>
                <p>(2) <strong>Travelex</strong><strong>可出于合规、库存等原因自行决定不向任何人提供本服务。如果</strong><strong>Travelex</strong><strong>拒绝向您提供本服务，对您所产生的任何费用、损失或损害，我们将不负任何责任。</strong><strong> </strong>  </p>
                <p style="text-align: left;"><strong>4.</strong><strong>下订单</strong></p>
                <p>(1) <strong>预订流程：</strong>如提交订单，您必须按照网站预订页面的说明操作。您将需要提供在线预订所要求的全部信息，包括但不限于您的姓名、电话号码、电子邮件地址、您选择的接收外币地点和日期。</p>
                <p style="text-align: left;">(2) <strong>外币币种：</strong>本服务仅提供网站预订页面上列出的货币种类。Travelex有权自行决定随时更改这些货币种类。</p>
                <p style="text-align: left;">(3) <strong>外币面额：</strong>目前我们的网站无法提供货币面额的选择。若您需要小面额的现钞，请在到店提取时咨询我们的店员。</p>
                <p>(4) <strong>最小和最大订单金额：</strong>所有在线外币订单均受到以下最低和最高限额：</p>
                <p>   a. 根据Travelex的现行政策，并为了遵守国家的相关法律法规，我们的在线预订的每笔订单最低限额为3,000元人民币（或等值的其他货币），每笔订单的最高限额对于境内个人和境外个人分别为28,000元人民币（或等值其他货币）及5,000元人民币（或等值其他货币）；</p>
                <p>   b. 根据相关法律法规，境内个人和境外个人须遵守不同的单日及年度换汇上限，具体如下图：</p>
                <table border="1" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td width="83" valign="top"><p style="text-align: left;"> </p>
                        </td>
                        <td width="161" valign="top"><p style="text-align: left;">结汇*</p>
                            <p style="text-align: left;">(外币兑换成人民币)</p>
                        </td>
                        <td width="161" valign="top"><p style="text-align: left;">购汇*</p>
                            <p style="text-align: left;">(人民币兑换成外币)</p>
                        </td>
                        <td width="161" valign="top"><p style="text-align: left;">Travelex线上预订每笔订单最高及最低限额</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="83" rowspan="2" valign="top"><p style="text-align: left;">境内个人</p>
                        </td>
                        <td width="161" valign="top"><p style="text-align: left;">单日限额：等值5,000（含）美元/天</p>
                        </td>
                        <td width="161" valign="top"><p style="text-align: left;">单日限额：等值5,000（含）美元/天</p>
                        </td>
                        <td width="161" rowspan="2" valign="top"><p style="text-align: left;">最低：3,000元人民币（或等值的其他货币）</p>
                            <p style="text-align: left;">最高：28,000人民币（或等值其他货币）</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="161" valign="top"><p style="text-align: left;">年度限额：等值50,000（含）美元</p>
                        </td>
                        <td width="161" valign="top"><p style="text-align: left;">年度限额：等值50,000（含）美元</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="83" rowspan="3" valign="top"><p style="text-align: left;">境外个人</p>
                        </td>
                        <td width="161" rowspan="2" valign="top"><p style="text-align: left;">单日限额：等值5,000（含）美元/天</p>
                        </td>
                        <td width="161" valign="top"><p style="text-align: left;">单日限额：等值1,000（含）美元/天（无原水单兑回）</p>
                        </td>
                        <td width="161" rowspan="3" valign="top"><p style="text-align: left;">最低：3,000元人民币（或等值的其他货币）</p>
                            <p style="text-align: left;">最高：5,000人民币（或等值其他货币）</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="161" valign="top"><p style="text-align: left;">单日限额：等值1,000（不含）至5,000（含）美元/天（凭本机构原水单兑回）</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="161" valign="top"><p style="text-align: left;">年度限额：等值50,000（含）美元</p>
                        </td>
                        <td width="161" valign="top"><p style="text-align: left;">无年度限额</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p style="text-align: left;"> </p>
                <p>"境内个人"是指持有中华人民共和国居民身份证、临时身份证、户口本、军官证或警官证的中国公民。</p>
                <p>"境外个人"是指持护照、港澳居民来往内地通行证、台湾居民来往大陆通行证的港澳台同胞和外国公民（包括无国籍人）。</p>
                <p>Travelex 可自行决定随时更改以上订单金额限制。</p>
                <p>(5) <strong>收取外币地点：</strong>提交外币订单时，您必须选择一个 Travelex分店来收取所订外币（以下简称"<strong>提取网点</strong>"）。网站的预订页面上列出了所有可供您选择的提取网点。<strong>目前，我们的在线预订外币的提取网点仅适用于北京、上海、深圳、青岛、南京、昆明这六个城市的</strong><strong>Travelex</strong><strong>分店。我们正在努力拓展在更多的城市为您提供优质的服务，请您随时留意我们的网站和相关宣传。</strong></p>
                <p>(6) <strong>预订外币时间段：</strong><strong>您的预计收取外币的日期</strong><strong> </strong><strong>（以下简称</strong><strong>"</strong><strong>预计取币日</strong><strong>"</strong><strong>）为您提交在线预订后的第</strong><strong> 2</strong><strong>至第</strong><strong>7</strong><strong>天（若您是在中午</strong><strong>12</strong><strong>点之前下订单的）。，若您是在中午</strong><strong>12</strong><strong>点以后下订单的，则我们需要再多一天进行处理。具体取币日期请以我们的确认邮件为准，我们的客服电话也将以最快速度致电回复给您预留的联系电话</strong><strong>。</strong></p>
                <p>(7) <strong>订单确认：</strong>点击"预定"按钮后，我们的系统将显示确认页面，详细列出订单信息。这表示我们已收到您的订单。我们可自行决定是否接受您的订单。如果我们决定接受您的订单，并同意为您提供本服务，则您将收到我们的"订单确认电子邮件" （以下简称为"<strong>确认邮件</strong>"）。</p>
                <p>(8) <strong>支付：</strong><strong>提交订单时，您无需在网站上进行订单支付。取币时在提取网点以现金支付即可。</strong><strong> </strong></p>
                <p style="text-align: left;"><strong>5.</strong><strong>汇率</strong><strong> </strong></p>
                <p>(1) 我们网站上显示的兑换汇率只是标示性汇率，此汇率会不时变动。在法律、法规等规范性文件允许的范围内，您可在比较以下两种汇率后选取一种对您有利的汇率作为您购买外币的实际成交汇率：</p>
                <p>   ① 我们向您发送的确认邮件中列出的汇率；或<br />
                       ② 在您取币时，提取网点汇率版上显示的汇率。</p>
                <p>(2) 您知悉在线预订的汇率（网站上的汇率报价）与提取网点提供的汇率可能有所不同。</p>
                <p><strong>6.</strong><strong>外币的提取</strong></p>
                <p>(1) 您（即订单中注明的客户）可到预订的提取网点提取外币。取币需在该提取网点的营业时间内进行。您可在我们的网站上找到提取网点的营业时间。</p>
                <p>(2) <strong>收取外币时，您必须提供</strong><strong>/</strong><strong>出具以下文件：</strong><strong> </strong></p>
                <p><strong>   a.</strong><strong>如果您是中国大陆人士，请出具身份证、临时身份证、户口本、军官证或警官证；</strong></p>
                <p><strong>b.</strong><strong>如果您是中国香港、澳门或台湾人士，请出具中国政府颁发的港澳居民来往内地通行证或台湾居民来往大陆通行证；</strong></p>
                <p><strong>c.</strong><strong>如果您是上述</strong><strong>b.</strong><strong>项与</strong><strong>c.</strong><strong>项之外人士，请出具您的有效护照。</strong><strong> </strong></p>
                <p style="text-align: left;">(3) 如果取币时您无法提供以上文件，我们将无法执行您的订单，并可能会取消您的订单。为避免产生任何疑惑，如果您无法出具上文规定的身份证件，我们将不会交付您所定的外币。 </p>
                <p style="text-align: left;">(4) 为遵守反洗钱和其他法律法规规定，以及为履行我们的内部风险控制和反欺诈政策，我们可能会在您取币时要求您提供更多信息、身份证明（如住址证明）和其他资料，并复印您的身份证件及其他资料。</p>
                <p style="text-align: left;">(5) 我们在您全额支付订单后才能交付外币。<strong>您必须以现金形式支付订单。</strong><strong> </strong></p>
                <p style="text-align: left;"><strong>7.</strong><strong>费用</strong></p>
                <p>在您前往我们的分店进行取币时，我们收取的服务费用为：</p>
                <p>- 在收提取网点进行换汇的手续费（该手续费可能不时有减免等优惠活动，具体详情请见在线预订中的介绍）。 </p>
                <p><a id="CancellationPolicy" name="CancellationPolicy"><strong>8.</strong></a><strong>修改或撤销订单</strong></p>
                <p>(1) <strong>撤销订单：</strong>您可在预计取币日前的任何时候（务必在预计取币日的前提前一天以上）通知我们的客服热线以撤销订单。如果您没有撤销订单，并且在预计取币日的当天内未能到提取网点取币，我们将取消您的订单。</p>
                <p>(2) <strong>修改订单：</strong>在订单提交后，您不可修改此订单。但是，您可撤销现有订单，然后在网上提交一个新订单。若在我们的客服热线已经回电联系您并且已向您发送确认邮件后，您对提取金额、币种、提取日期、提取地点等有变动的，请务必尽快并至少提前一天联系我们的客服电话。我们的客服将根据届时的库存等情况尽量为您安排。</p>
                <p>(3) <strong>详细说明：</strong>如需撤销订单，您必须向我们提供您的姓名以及确认邮件上显示的订单参考号。</p>
                <p>为避免产生任何疑惑以及为了让我们能更好地为您提供服务，请您务必及时于预定取币日来我们的分店进行取币。若您无法及时于预订取币日前往我们的分店，请务必至少提前一天致电我们的客服热线。</p>
                <p><strong>9.</strong><strong>投诉和合规</strong><strong> </strong></p>
                <p>(1) 如果您对本服务有任何评价或意见（包括投诉），请通过电子邮件方式联系我们：<a href="mailto:customerfeedback@travelex.com.cn?subject=Query%20from%20www.travelex.com.cn" title="Query from www.travelex.com.cn">customerfeedback@travelex.com.cn</a>。</p>
                <p>(2) 您必须遵守所有相关的法律和法规，包括履行及不违反反洗钱法规或任何其他适用法律和法规。</p>
                <p style="text-align: left;"><strong>10.</strong><strong>我们的责任限定</strong></p>
                <p><strong>(1)</strong> 我们将以合理程度的谨慎及技术来提供本服务。<strong>但就以下情况而对您造成的任何损失或损害我们不承担责任：</strong>  </p>
                <p><strong>   a.</strong><strong>因技术系统失灵或因为任何其他我们在合理范围内无法控制</strong><strong> </strong><strong>（不可抗力）的原因（包括但不限于战争、恐怖主义活动、政府行为、自然灾害或劳资纠纷）而导致我们不能够为您提供本服务或履行其他义务；</strong><strong><br />
                        b.</strong><strong>因使用网站或本服务而对您、您的电脑设备或其他设备造成的任何损害；或</strong><strong><br />
                        c.</strong><strong>因使用、延误或无法使用网站或本服务而对您造成的任何间接或连带损失（包括但不限于利润损失、生产损失、合同损失或机会损失）。</strong></p>
                <p><strong>上述责任限定以法律允许的范围为限。</strong></p>
                <p><strong>(2)</strong><strong>在法律允许的范围内，就提供本服务或使用网站而对您造成的损失，如我们同意赔偿您的损失，我们承担的赔偿金总额不超过您订单的总金额。</strong></p>
                <p><strong>11.</strong><strong>赔偿</strong><strong> </strong></p>
                <p>您必须由您的以下行为而对我们造成的所有损失或损害作出全额赔偿（包括但不限于诉讼费用）：</p>
                <p>(1) 您的欺诈作为、故意不当作为或严重疏忽；</p>
                <p>(2) 您违反本条款细则中的任何一条；</p>
                <p>(3) 因您的任何作为或疏忽导致我们违反法律或法规；或</p>
                <p>(4) 您造成的或促成的人身伤害或死亡，或财产损失。</p>
                <p style="text-align: left;"><strong>12.</strong><strong>终止</strong></p>
                <p><strong>在法律允许的范围内，</strong><strong>Travelex</strong><strong>可出于库存及合规等原因随时单方决定终止您与我们之间所有在本条款细则基础上建立的订单。该情况下，</strong><strong>Travelex</strong><strong>将以电邮或电话的方式通知您。</strong> <strong> </strong></p>
                <p><strong>13.</strong><strong>第三方权利</strong></p>
                <p>在我们向您发送确认邮件（若您在网上预订时留下了您的有效电邮联系方式）或以客服电话向您致电回复确认接受您的订单以后，则视为我们与您本人签订合同。本条款细则中的内容不赋予第三方任何权益。</p>
                <p><strong>14.</strong><strong>条款细则的更改</strong></p>
                <p><strong>(1)</strong><strong>我们可随时中止或撤销本网站或本服务，更改本条款细则</strong><strong> (</strong><strong>以下简称</strong><strong>"</strong><strong>条款更改</strong><strong>"),</strong><strong>恕不另行通知，亦无需承担任何责任。条款细则的更改即时生效，我们因此不承担任何责任。</strong><strong> </strong><strong>如在您提交订单后我们进行了条款细则的更改，此条款细则的更改不影响您在合同项下的权利和义务。</strong><strong> </strong>  </p>
                <p>(2) 如果我们修改了本条款细则，我们会将修改版本发布在网站上。您应该不时查看我们的网站，了解任何修改详情。如果您在我们修改过本条款细则后使用本网站或本服务或提交订单，则视为您接受了这些更改。</p>
                <p><strong>15.</strong><strong>个人信息和安全</strong></p>
                <p>(1) 您必须确保您所提供的所有信息均真实正确，且未隐瞒任何重要信息。</p>
                <p>(2) 请点击"<a href="#Privacy Policy">隐私政策</a>"链接，了解我们如何使用和披露您的个人信息。 </p>
                <p><strong>16.</strong><strong>风险和所有权</strong></p>
                <p>(1) 外币的风险将自您收取外币时起转移给您。</p>
                <p>(2) 只有在我们收到订单项下您应支付给我们的所有款项总额以后，外币的所有权才转移给您。</p>
                <p><strong>17.</strong><strong>与您联系</strong><strong> </strong></p>
                <p>您授权我们内部使用您在本网站上提供的姓名、电话号码和邮箱地址，在所有合理时间内与您联系。我们可能会为各种原因与您联系，例如，我们无法提供您要求的货币或者我们需要确认取币日等。</p>
                <p><strong>18.</strong><strong>可分割性</strong></p>
                <p>如果本条款细则的任何内容不合法、无效或无法执行，该内容便从本条款细则中分割出来（并予以删除），其余条款细则将续存保留，具有全部效力和作用，并继续具有约束力和可执行性。</p>
                <p><strong>19.</strong><strong>权利和义务的转让</strong></p>
                <p>本条款细则对您和我们以及我们的继任人和受让人具有约束力。您不得以转让或其他方式将您在本条款细则项下的任何权利或义务给予第三方。我们可随时以转让或其他方式将我们在本条款细则项下的权利或义务给予任何第三方。</p>
                <p><strong>20.</strong><strong>完整合同</strong></p>
                <p>(1) 本条款细则以及其中明示指出的任何文件构成我们与您就本服务所达成的完整合同，并取代双方所达成的任何其他协议、共识或安排（无论是口头还是书面形式）。</p>
                <p>(2) 您知悉您只依赖本条款细则中明示表述的陈述、承诺或保证，不依赖其他任何陈述、承诺或保证（口头或书面）。</p>
                <p><strong>21.</strong><strong>法律和司法管辖</strong></p>
                <p>本条款细则将受中华人民共和国法律管辖，根据中华人民共和国有关法律法规解释和阐释。由本条款细则引发或与其相关的任何争议或差异，若无法友好解决，均提请上海仲裁委员会按照该会仲裁规则进行仲裁。仲裁裁决是终局的，对双方均有约束力。</p>
                <br />


                <div> </div>

                <p> <a href="#backtotop">返回顶部</a></p>




                <h2><a name="Security Statement">保安</a></h2>

                <h3>欺诈性电子邮件</h3>
                <p>通济隆察觉到有人曾经试图利用电子邮件来进行诈骗，有网络拍卖网站上售物人曾收到声称是来自通济隆并带有通济隆标志的电子邮件，要求售物人在支付之前转出现金或发运商品。有些情况下，这些电子邮件还要求售物人提供如姓名、地址等个人资料。如果收到这类的电子邮件，请不要理会。通济隆永远不会为了让购物人向售物人支付款项而要求任何人先行付款。</p>
                <p>通济隆还察觉到另外一种欺诈性电子邮件涉及提供虚假的通济隆就业或培训机会。 请注意，这些电子邮件是非法活动，与通济隆无关，其目的在于获得包括银行账户细节在内的个人资料，这些资料会被泄露用于非法目的。在任何情况下您都绝对不能将自己包括银行账户在内的个人资料提供给这些诈骗者，他们与通济隆公司毫无任何联系。 </p>
                <p>如您已提供了您的银行资料，您应立即将向您的银行机构报告。合法的通济隆电子邮件只会发自@travelex.com.cn @travelex.com.au @apac.travelex.com or @travelex.com 的电邮地址，我们并不会在任何情况下通过电子邮件要求您提供您的银行细节。</p>
                <div> <p>通济隆已将两种欺诈向相关执法部门报告。 </p>
                </div>


                <div> </div>


                <p> <a href="#backtotop">返回顶部</a></p>




                <h2><a name="Terms and Conditions for Website Use">网站使用的条款和条件</a></h2>



                <p>本网站 <a href="http://www.travelex.com.cn" title="www.travelex.com.cn">www.travelex.com.cn</a> （以下简称“<strong>本网站</strong>”或“<strong>网站</strong>”）的所有者和运营者为通济隆外币兑换（中国）有限公司（以下简称“<strong>Travelex</strong>”或“<strong>我们</strong>”）。如果您使用、访问或浏览了本网站，则视为您已无限制或无条件地接受了本网站使用条款和条件。如果您不接受这些条款和条件，请勿使用本网站。 </p>
                <h3>访问站点</h3>
                <p>您只能基于私人或非商业目的访问本网站。我们保留在不事先通知的情况下随时撤销或修改网站上所提供任何服务的权利，还可能不时限制本网站用户对网站某些部分或整个网站的访问权。<strong>若在任何时候或任何时间段本网站因任何原因而无法使用，我们概不负责</strong>。</p>
                <div><p>您负责安排一切访问本网站必要的准备工作。此外，您还应确保所有通过您的互联网连接来访问本网站的第三者均了解并遵守这些条款和条件。</p>
                    <div><div><h3>知识产权</h3>
                        <p>除非另有明示表述，我们是本网站及其所发布内容的所有知识产权的所有人或持有人。知识产权受到法律和条约的保护。我们保留所有知识产权权利。未经 Travelex 事先书面同意，您不得将网站上的任何知识产权用于商业目的。您不得因任何原因修改、复制、分发、传输、展示、发行、出售网站上所发布内容的所有知识产权，或制造知识产权的衍生作品。 </p>
                        <p>但您可打印网页副本并下载网站上的任何页面为个人参考用。不得以任何方式修改您所打印或下载的任何网站内容的纸质或电子版本。随附文本的任何图片、录音、动画和视频不得单独分开使用。如违反本条款和条件，打印、复制或下载任何部分的网站内容，您将立即丧失使用本网站的权利。您必须将此违约行为通知我们，根据我们的要求退回或销毁所做的任何网站或网站内容副本。我们保留可以行使的相关法律权利。 </p>
                        <p>在本条款条件中，“知识产权”一词是所有发明、专利、专利申请、商标、设计、电路设计、版权、邻接权、专有技术，商业敏感型信息、交易、业务或公司名称以及其他所有《1967 年 7 月成立的世界知识产权组织公约》(<em>Convention establishing the World Intellectual Property Organisation of July 1967</em>) 第 2 条知识产权的定义中包括的权利、以及工业、商业、科学、文学或艺术领域的知识活动产生的其他成果（无论其是否可以注册或可取得专利）或与之相关的所有当前和未来权利。 </p>
                    </div>
                        <div><p>本网站包含的版权包括但不限于设计、文本、图像、录音、动画、视频以及所有软硬件或与该软硬件相关的任何作品。Travelex 集团的注册商标包括“Travelex®”和全球货币标志（The Worldwide Money Logo）。</p>
                            <h3>对所发布信息的依赖度</h3>
                            <p>本网站上提供的所有信息和资料都并非旨在(不构成)向您提供可以依赖的意见。对于您或通过您的互联网连接来访问本网站的任何第三者因依赖本网站上的信息和资料而产生的所有损失和损害，我们概不负责。  </p>
                            <h3>网站内容和资料</h3>
                            <p>我们可能定期更新网站并在不事先通知的情况下随时更改其内容（包括但不限于网站包含的信息、资料和服务）。如若需要，我们可能终止或暂停网站，甚至无限期关闭网站。网站上的任何资料在任何指定时间可能已经过期，我们没有责任更新该资料。 此外，Travelex 在网站上提供信息、产品或服务，但绝无意图招徕或引诱任何人来使用该信息、产品或服务（特别是在法律上禁止该信息、产品或服务的地区内使用）。</p>
                            <h3>我们的责任 </h3>
                            <p><strong>Travelex 不保证或不负责网站上任何内容的准确性。在法律允许的程度内，我们明确表示不承担以下责任：</strong></p>
                            <p><strong>a)	您因本网站、使用或无法使用本网站、使用本网站的结果或任何链接到本网站的第三者网站，以及本网站上发布的任何资料而引起/造成的任何直接、间接或连带性损失或损害（包括但不限于利润损失、生产损失、合同损失或机会损失）；及</strong></p>
                            <p><strong>b)	任何其他损失或损害 （包括由任何原因引起的损失或损害,例如，侵权、疏忽、违反合同或其他无论是否可以预见的原因）。</strong></p>
                            <h3>您的个人信息</h3>
                            <p>如果您在我们的网站上提供您的个人信息，我们将根据我们的<a href="#Privacy Policy">隐私政策[插入超链接]</a>使用和披露该等信息。如果您使用了我们的网站，则视为您同意我们按此政策使用和披露您的个人信息，并保证您提供的所有信息准确无误。</p>
                            <h3>链接到其他站点</h3>
                            <p>我们在网站上提供第三方网站链接的唯一目的为您提供有用的参考信息（包括相关主题或服务）。Travelex 无法控制第三方网站上的内容，对您因使用该网站而产生的任何损失或损害我们不承担任何责任。您必须遵守第三方网站使用的条款和条件。  </p>
                            <h3>IP 地址和 Cookie </h3>
                            <p>Travelex 保留以 Cookie 或类似文件形式保存有关您的电脑或您访问本网站的信息的权利。Travelex 的隐私政策包括有关我们使用 Cookie 和关闭Cookie 流程的信息。  </p>
                            <h3>病毒和黑客行为</h3>
                            <p>您不得故意引入恶意或技术危害性数据，如病毒、木马程序、蠕虫病毒和逻辑炸弹，从而对网站造成破坏。您不得非法访问网站、存储网站的服务器，或者连接到网站的任何服务器、计算机或数据库。您不得攻击本网站。  </p>
                            <h3>终止</h3>
                            <p>如果您违反了本条款和条件的任何条款，或者鉴于其他任何原因，Travelex 可能会在不事先通知的情况下随时终止您对本网站的访问和使用。</p>
                            <h3>司法管辖和适用法律</h3>
                            <p>本条款和条件受中华人民共和国的法律管辖，应根据中华人民共和国的法律法规解释和阐释。由本条款和条件引发的或与其相关的任何争议或差异，若无法友好解决，均提请上海仲裁委员会按照该会仲裁规则进行仲裁。仲裁裁决是终局的，对双方均有约束力。 </p>
                            <h3>变更 </h3>
                            <p>我们可能随时修改本条款和条件，同时对网站页面进行修改。您应该不时查看本网站，以了解任何修改详情。  </p>
                            <h3>联系</h3>
                            <p>如果您对本网站上发布的任何资料有任何疑问，请发送电子邮件至  <a href="mailto:customerfeedback@travelex.com.cn?subject=Query from www.travelex.com.cn" title="Query from www.travelex.com.cn">customerfeedback@travelex.com.cn</a>.</p>
                        </div>
                    </div>
                </div>
                <p> <a href="#backtotop">返回顶部</a></p>


                <h2><a name="Privacy Policy">隐私政策 </a></h2>



                <p>本隐私政策由<a title="www.travelex.com.cn" href="http://www.travelex.com.cn">www.travelex.com.cn</a>网站（以下简称“<strong>本网站</strong>”或“<strong>网站</strong>”）的所有者和运营者通济隆外币兑换（中国）有限公司（以下简称“<strong>Travelex</strong>”或“<strong>我们</strong>”）发布。如果您访问了本网站，则视为您同意接受本政策中的所有条款。 </p>
                <h3>Travelex 的隐私声明 </h3>
                <p>Travelex 深知保护其客户个人信息安全的重要性。本隐私政策说明了我们如何收集、使用、披露和存储您的个人信息，体现了 Travelex 对维护个人隐私权的重视。本隐私政策适用于所有您在与我们接触过程中向我们提供的个人信息（包括但不限于您在本网站上提供的个人信息）。</p>
                <h3>个人信息的收集</h3>
                <p>我们分店的工作人员可能会要求您提供个人信息(包括但不限于您的姓名、电话号码、邮寄地址、性别、电子邮件地址和访问网站的详情)，本网站也会需要您提供个人信息。例如，在以下情况下我们可能会收集您的个人信息: </p>
                <p>a)	您在网站上预订旅行外汇的时候；<br />b)	您与 Travelex 进行交易的时候；或<br />c)	您参加 Travelex 抽奖、竞赛或在线调查的时候。</p>
                <h3>个人信息的使用</h3>
                <p>您同意我们可以将您的个人信息用于以下目的： </p>
                <p>a)	验证您的身份或您与我们开展的各项交易；<br />b)	考虑/决定是否接受您的订单或是否向您提供我们的产品或服务；<br />c)	满足您的订单要求或提供您所需的产品和服务；<br />d)	管理产品和服务的供应；<br />e)	答复您的质询、投诉或为您提供客户服务；<br />f)	向您发送 Travelex 的市场评论、简报或类似资料；<br />g)	向您推销我们的产品和服务，向您推荐我们的优惠产品/服务、促销活动或竞赛；<br />h)	确保本网站内容以最有效的方式呈现给您；<br />i)	取保我们遵守相关的法律和法规(例如，遵守相关法律中的披露要求)；<br />j)	保护Travelex、我们的客户或其他人的权益、财产或安全（包括但不限于向您追索任何欠款）；<br />k)	通知您我们对产品及服务的变更；<br />l)	协助其他金融机构进行信用检查或追债；<br />m)	进行研究和分析；及<br />n)	防欺诈。</p>
                <p>我们可能会将您的个人信息用于其他相关法律允许的目的。</p>
                <h3>个人信息的披露</h3>
                <p>我们将会在以下情况下披露您的个人信息：</p>
                <p>a)	为履行我们的法律义务而进行披露，例如，以保护公共健康、国家安全及政府收入、防止或查处非法行为等为目的，向政府或监察部门披露；<br />b)	在法律允许的范围内进行披露；<br /> c)	在获得您同意的情况下进行披露。</p>
                <p>您同意我们可能会将您的个人信息披露给下述机构：</p>
                <p>a)	Travelex 集团的其他成员；<br />b)	受聘Travelex 或 Travelex集团的服务提供商，如为 Travelex 或 Travelex 集团提供行政、电信、计算机、支付或其他服务的公司或个人；<br />c)	任何向我们荐引您的中介人；<br />d)	您的任何代理人，包括您的财务顾问、律师或会计、监护人或委托人等；<br />e)	为我们提供外包服务的公司或个人；及<br />f)	我们商业资产的潜在买家或我们拟收购商业资产的潜在卖家。</p>
                <p>我们可能会将您的个人信息传输给国外机构或人士，例如，传输给位于国外的Travelex 集团其他分公司或数据处理公司。这些国外公司有义务保护你的个人信息。</p>
                <h3>访问您的个人信息</h3>
                <p>您有权：</p>
                <p>a)	询问Travelex 是否保存您的个人信息并访问该信息；及<br />b)	要求 Travelex 修改任何不准确的个人信息。 </p>
                <p>如果您希望访问或修改您的个人信息，请发送电子邮件至 <a href="mailto:customerfeedback@travelex.com.cn?subject=Query from www.travelex.com.cn" title="Query from www.travelex.com.cn">customerfeedback@travelex.com.cn</a> 联系我们。Travelex 有权就任何信息访问收取合理费用。如果我们拒绝您访问您的个人信息，我们将会解释原因。</p>
                <p>我们会尽力确保所持有的客户信息是准确、完整、最新的。我们会及时根据客户要求修改错误信息。</p>
                <h3>信息保护</h3>
                <p>因在互联网上传输个人信息不安全，我们不能保证您在本网站上的发送的信息的安全性。 </p>
                <p>我们将采取合理的措施以确保：</p>
                <p>a)	您的信息保存在安全的电子系统并以安全方式存档；<br />b)	您的个人信息不会受到非法访问；<br />c)	我们的网络服务器均具有防火墙；<br />d)	仅在必要的时间段内保留您的个人信息；及<br />e)	我们遵守有关个人信息存储的法律和法规。 </p>
                <h3>IP 地址和 Cookie </h3>
                <p>我们可能通过使用 Cookie来收集关于您访问本网站以及您电脑的信息（包括您的 IP 地址、操作系统以及浏览器类型）。Cookie 是浏览器存储在您电脑硬盘上的简短信息记录。Cookie收集的信息不能识别您的个人身份。Cookie有助于我们改善网站质量，帮助我们识别您的一些偏好。再次访问网站时，Travelex的计算机服务器将识别出该 Cookie，给我们您之前访问本网站的相关信息。</p>
                <p>大多数浏览器最初设置为自动接受 Cookie，但您也可开启浏览器上拒绝接受 Cookie 的设置。如果您的浏览器设置不正确，或者您将浏览器设置为禁止接受 Cookie，您可能无法使用本网站。除非您已调整浏览器设定从而拒绝 Cookie，我们的系统将自动在您登录网站时向您的电脑发送Cookie。
                </p>
                <h3>链接至第三方网站 </h3>
                <p>本网站可能不时包含前往第三方网站的链接。如果您点击链接进入任何第三方网站，请注意这些网站有其独立的隐私政策。对这些网站的隐私保护及相关条款，本网站不承担任何责任。我们建议您在向第三方网站提交任何个人信息前先查看其隐私政策。  </p>
                <h3>我们隐私政策的更改</h3>
                <p>我们可能在不提前通知的情况下随时修改本隐私政策的任何条款。我们将修改后的隐私政策发布在本网站上。请务必不时查看本网站，注意任何修改内容。如果您在我们修改过隐私政策的条款后提交个人信息，使用、访问或浏览本网站，则视为您接受了该等更改。</p>
                <h3>客户垂询 </h3>
                <p> </p>
                <p>如果您希望进一步了解我们如何收集、使用、披露和存储您的个人信息，或者如果您有收到了我们的促销或宣传邮件但不希望继续收到此类邮件，请通过以下方式联系我们：</p>
                <p>a)	发送电子邮件至：<a title="Query from www.travelex.com.cn" href="mailto:customerfeedback@travelex.com.cn?subject=Query from www.travelex.com.cn">customerfeedback@travelex.com.cn</a>; <br />b)	邮寄信件至：上海市浦东新区陆家嘴银城中路 68 号时代金融中心 1203 室；或<br />c)	致电 400 821 6825。</p>
                <p> </p>

                <div> </div>

                <p> <a href="#backtotop">返回顶部</a></p>

                <br>
                <p></p>
        </div>
    </div>
    <footer>
        <br><a href="http://buy.travelex.com.cn/m/zhcn/TermsOfUseContentPages?PageToView=TermsOfUse#Online Ordering Terms and Conditions" target="_blank">在线预订服务条款和条件</a> | <a href="http://buy.travelex.com.cn/m/zhcn/TermsOfUseContentPages?PageToView=TermsOfUse"target="_blank">常见问题</a>｜<a href="http://buy.travelex.com.cn/m/zhcn/TermsOfUseContentPages?PageToView=TermsOfUse#Privacy Policy" target="_blank">隐私政策</a><br>所有版权均属通济隆外币兑换（中国）有限公司     <a href="http://www.miibeian.gov.cn" title="沪ICP备12044029号" target="_blank">沪ICP备12044029号</a>    </footer>

</div>

</body>
</html>
