
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0;">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <link href="../../resources/images/Favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="../../resources/css/style.css" >
    <link rel="stylesheet" href="../../resources/css/modalpopup.css" >
    <link rel="stylesheet" href="../../resources/css/style-override.css" >
    <script src="../../resources/js/ajax/jQuery/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../../resources/js/ajax/jquery.ui/1.8.19/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../resources/js/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script type="text/javascript">        window.scrollTo(0, 1)</script>
    <!--HtmlHead--><script type="text/javascript">                 var _gaq = _gaq || [];                _gaq.push(['_setAccount', 'UA-23116135-1']);                _gaq.push(['_setDomainName', 'none']);                _gaq.push(['_addIgnoredRef', 'https://buy.travelex.com.cn../../../zhcn.htm/travelex.com.hk']);                _gaq.push(['_setAllowLinker', true]);                _gaq.push(['_trackPageview']);                (function() {                                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;                                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www/') + '.google-analytics.com/ga.js';                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);                })();</script>
    
    <title>Benefits of Reserving Online &amp; How it Works</title>
</head>
<body>
    <div id="container">
    <script type="text/javascript">
        $(function () {
            $(".clickme").each(function () {
                var imageInstruction = $(this).attr('instructions');
                if (imageInstruction == "") {
                    $(this).next('select').removeClass('dropdown-info-button');
                    $(this).next('select').addClass('dropdown-field');
                    $(this).remove();
                }
            })

            $(".clickme").click(function () {
                var imageInstruction = $(this).attr('instructions');
                $("<div>" + imageInstruction + "</div>").dialog({ autoOpen: true, draggable: false, modal: true, resizable: false, width: 'auto', height: 'auto' });
            });
        });
        </script>
        <header>
    

    <a href="Javascript:history.back()" class="btn back">后退 <span></span></a>
<h1> 
 <a href="index.htm" >Travelex - Worldwide money</a>
</h1>

<!--Checking if Next button to be displayed -->


;
</header>
<h2>为什么要在线预订& 如何预订</h2>
<div id="main" role="main">
    
    <div class="panel">
        <br /><strong><br>在线预订，省心省钱！</strong><br> - 在线预订尊享免手续费<br> - 通济隆最佳汇率保证（对比任何通济隆中国门店的汇率）<br> - 无需在线支付! 省心，省钱!<br> - 您可选择最便捷的日期及网点提取<br> - 我们是全球专业外币兑换机构
<p> </p>
<h3><strong>不要依赖信用卡，现金可以减少麻烦和风险</strong>   </h3>
<p>出行前换一些外币是一个好的习惯，这样到达后即可使用- 比如在机场的餐饮，打的士。这样的话当遇到机场ATM停运，或者兑换公司不开的情况下就不会遇到麻烦。
当您出境后很多银行，信用卡中心，信用卡公司通常会停止支付。
很多的餐馆，商铺，甚至酒店都不接受信用卡，所以切记一定要随时带好现金。请记住在境外您可能会遇到错误的计费扣款并且无法得到如在本国的足够保护。关于此类事件常有报道，例如游客在境外被重复扣款或就没有购买的货物而错误扣款 
</p>
<p> </p>
<h3><strong>帮您来省钱- 出行前记得预订外币</strong></h3>
<p>当您在境外ATM使用信用卡提款时，通常会有多比手续费累积叠加在你的账单中。
每一笔提款通常都会有一笔兑换手续费，ATM 手续费以及其他来自您本地银行/境外银行的ATM手续费。
多数的信用卡的手续费在每一笔交易3%。如果您在境外使用信用卡来支付餐饮，酒店及购物，当您回国时您会发现这些手续费会出现在您的信用卡账单上</p>
<p><strong>你的借记卡通常在很多境外ATM上无法使用，所以切记带一些现金
如果您出境游，您的借记卡通常无法在商场或饭店使用，您需要携带一些现金。以应付日常开支。在偏远地区很难找到ATM。</p>
<p>请不要在境外出行时只准备一种旅行货币。随身携带现金将为您的出行减少不便并更省时省钱。</strong>
<u>在线预订您的外币现金</u>，并在当地的通济隆外币兑换店或香港国际机场店进行提取现金。
  </p>
<p>
<a href="javascript:if(confirm(%27http://buy.travelex.com.cn../../../zhcn.htm/>来通济隆线上预订外币</a>，在全港各个市区及机场网点提取外币。省心，省钱！</p><span style=  \n\nThis file was not retrieved by Teleport Ultra, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://buy.travelex.com.cn../../../zhcn.htm/>来通济隆线上预订外币</a>，在全港各个市区及机场网点提取外币。省心，省钱！</p><span style=%27" line-height: 0;"> </span></p>
    </div>
</div>
<footer>   
<br><a href="./TermsOfUseContentPages-rule.html"  target="_blank">在线预订服务条款和条件</a> | <a href="TermsOfUseContentPages-PageToView=TermsOfUse.htm" target="_blank">常见问题</a>｜<a href="TermsOfUseContentPages-PageToView=TermsOfUse.htm#Privacy Policy"  target="_blank">隐私政策</a><br>所有版权均属通济隆外币兑换（中国）有限公司     <a href="http://www.miibeian.gov.cn"  title="沪ICP备12044029号" target="_blank">沪ICP备12044029号</a>    </footer>

    </div>
    
</body>
</html>
